:root {
  --dark-cyan: hsl(174, 86%, 45%);
  --light-cyan: hsl(174, 79%, 65%);
  --light-red: hsl(15, 100%, 70%);
  --lighter-red: hsl(14, 92%, 95%);
  --dark-blue: hsl(227, 35%, 25%);
  --pale-blue: hsl(226, 100%, 87%);
  --paler-blue: hsl(230, 100%, 99%);
  --gray-blue: hsl(225, 20%, 60%);
  --light-gray-blue: hsl(224, 65%, 95%);
  --light-gray-blue2: hsl(223, 50%, 87%);
  --white: hsl(0, 0%, 100%);
  --primary-font: 'Manrope', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 500;
  background-color: var(--paler-blue);
  color: var(--gray-blue);
  display: grid;
  grid-template-rows: 1fr auto;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;  
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/bg-pattern.svg);
  background-repeat: no-repeat;
  /* background-size: contain; */
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

header {
  background-image: url(../assets/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container {
  max-width: 500px;
  width: 100%;
  background: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.container > div {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 767px){
  .container {
    max-width: 575px;
    text-align: left;
  }

  .container > div {
    display: flex;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }

  .container > div:nth-of-type(1){
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .container > div:nth-of-type(2) {
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
}

header h2 {
  font-size: 1.35rem;
  line-height: 2;
  color: var(--dark-blue);
}

header p {
font-size: .9rem;
line-height: 1.5;
}

@media (min-width: 767px){
  header h2 {
    font-size: 1.75rem;
  }

  header p {
    display: contents;
    font-size: .95rem;
  }
}

.page-views {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 1.75rem;
}

@media (min-width: 767px){
  .page-views {
    margin-bottom: 0;
  }
}

.product-pricing {
  margin-top: 1.75rem;
}

@media (min-width: 767px){
  .product-pricing {
    order: 1;
    margin-top: 0;
  }
}

.product-pricing span {
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark-blue);
  vertical-align: middle;
  margin-right: 0.65rem;
}

.product-pricing span::before {
  content: '$';
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark-blue);
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
      appearance: none;
  width: 100%;
  height: 10px;
  border-radius: .5rem;
  background: var(--light-gray-blue);
  /* For range.js to change track background */
  background-image: linear-gradient(var(--light-cyan), var(--light-cyan));
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

@media (min-width: 767px){
  input[type="range"] {
    order: 2;
    margin-top: 3rem;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background: var(--light-cyan);
  background-image: url(../assets/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
-moz-appearance: none;
      appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: var(--dark-cyan);
  background-image: url(../assets/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

input[type=”range”]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none;
  box-shadow: none;
  border: none;
  background: transparent
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
       appearance: none;
  box-shadow: none;
  border: none;
  background: transparent
}

.billing-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 767px){
  .billing-block {
    order: 3;
    width: 100%;
    margin-top: 3rem;
  }
}

.billing-block > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.billing-toggle {
  background-color: var(--light-gray-blue2);
  width: 45px;
  border-radius: 1.25rem;
  padding: 0.25rem 2rem 0.25rem 0.25rem
}

.billing-toggle > div {
  background-color: var(--white);
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.billing-toggle-active {
  background-color: var(--light-cyan);
}

.billing-discount {
  background-color: var(--lighter-red);
  color: var(--light-red);
  padding: .125rem .5rem;
  border-radius: 1rem;
}

.billing-discount span {
  display: none;
}

@media (min-width: 767px){
  .billing-discount span {
    display: inline;
  }
}

hr.divider {
  border: 2px solid var(--paler-blue);
}

.product-benefits-list {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin-top: 2rem;
  margin-bottom: 2.75rem;
}

@media (min-width: 767px){
  .product-benefits-list {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.product-benefits-list li::before {
  content: '';
  background-image: url(../assets/images/icon-check.svg);
  display: inline-flex;
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
  margin-right: 0.75rem;
  position: relative;
  top: 0px;
}

button {
  background-color: var(--dark-blue);
  padding: 1rem 2rem;
  border: 0;
  border-radius: 2rem;
  letter-spacing: 2px;
  font-family: inherit;
  font-weight: inherit;
  color: var(--pale-blue);
  width: 75%;
  cursor: pointer;
}

button:hover {
  background-color: var(--pale-blue);
  color: var(--dark-blue);
}

@media (min-width: 767px){
  button {
    width: 45%;
  }
}

footer {
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.fm-attribution {
  font-size: .75rem;
  color: var(--dark-blue);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
}

.fm-attribution a {
  color: var(--dark-blue);
}


